

.chevron {
    font-family: "Comfortaa";
    grid-area: wrapper;
    margin: auto;
    max-width: 1960px;
    min-height: 900px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "booknow booknow"
    "recruits recruits"
    "staff staff"
    "footer footer"
    ;
}

.chevron .nav .links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-decoration: none;
}


@media screen and (min-width: 760px) {
    .chevron {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(auto, auto);
        gap: 10px;
        grid-template-areas: 
        "header . . nav nav"
        "booknow booknow booknow booknow booknow"
        "recruits recruits recruits recruits recruits"
        "staff staff staff staff staff"
        "footer footer footer footer footer"
        ;
        /* align-items: stretch;
        justify-items: stretch; */
    }
    .chevron .nav {
        min-width: 500px;
    }
}

.chevron .nav .links .link-button {
    text-decoration: none;
    color: #000;
}

.chevron p {
    padding: 0;
    margin: 0;
}
.chevron h1 {
    font-weight: 400;
    font-size: 36px;
    padding: 0;
    margin: 0;

}
.chevron h2 {
    font-weight: 500;
    padding: 0;
    margin: 0;
    
}

.chevron .logo-text h1 {

    text-shadow: 0px 1.5px 3px #bfbfbf;
}
.chevron .logo-text h2 {
    
    text-shadow: 0px 1.5px 3px #bfbfbf;
}

.chevron h3 {
    padding: 0;
    margin: 0;
}

.chevron > * {
    color: #000;
    /* background: #fff4c5; */
    padding: 10px;
}

.chevron .header {
    grid-area: header;
    display: grid;
}

.chevron .nav {
    grid-area: nav;
    display: grid;
}

.chevron .booknow {
    grid-area: booknow;
    display: grid;
}

.chevron .recruits {
    grid-area: recruits;
    display: grid;
}

.chevron .staff {
    grid-area: staff;
    display: grid;
}

.chevron .footer {
    grid-area: footer;
    display: grid;
}

.chevron .endend {
    /* background: lightsteelblue; */
    display: grid;
    
    justify-items: end;
    align-items: end;
}

.chevron .startend {
    /* background:lightgoldenrodyellow; */
    display: grid;
    
    justify-items: start;
    align-items: end;
}

.chevron .centerend {
    /* background:lightcoral; */
    display: grid;
    
    justify-items: center;
    align-items: end;
}

.chevron .centerstart {
    /* background:lightgreen; */
    display: grid;
    
    justify-items: center;
    align-items: start;
}

.chevron .startstart {
    /* background:lightseagreen; */
    display: grid;
    
    justify-items: start;
    align-items: start;
}



.chevron .centercenter {
    /* background: lightpink; */
    display: grid;
    
    justify-items: center;
    align-items: center;
}



.chevron .logo-text h1 {
    display: inline;
    font-size: 24px;
}

.chevron .logo-text h2 {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.chevron .logo-bg{
    background-image: url("../assets/chevron/paw_print.svg");
    background-size: 13px;
    background-repeat:   no-repeat;
    background-position: center center;
    /* background-color: aqua; */
}


.chevron button {
    border: none;
    padding: 16px 16px;
    text-decoration: none;
    background-color: #FED007;
    font-size: 24px;
    font-family: "Comfortaa";
    border-radius: 10px;
}

.chevron .booknow button {
    padding: 16px 16px;
    font-size: 24px;
    border-radius: 10px;
}

.chevron .login button {
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 6px;
}

.chevron .booknow {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 40px 0 40px 0;
}

.chevron .booknow .videos {
    margin: 20px 0;
}

.chevron .booknow .videos > img {
    min-width: 30%;
    max-width: 30%;
    min-height: 200px;
    max-height: 200px;
    margin: 0 5px;
    background-color: white;
    object-fit: cover;
}

.chevron .title {
    margin-bottom: 20px;
}

.chevron .profile-brief {
    max-width: 150px;
}

.chevron .profile-brief .leading img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 0px 0px 10px rgb(172, 172, 172);
}

.chevron .profile-brief h2 {
    font-family: "Nunito";
    font-weight: 800;
    font-size: 150%;

    text-shadow: none;
}

.chevron .profile-brief h3 {
    font-weight: 800;
    font-size: 120%;

    text-shadow: none;
}

.chevron .profile-brief p {
    font-weight: 500;
    font-size: 90%;

    text-shadow: none;
}

.chevron .footer {
    border-top: 1px solid #000;
}

.chevron .footer img {
    margin: 0px 2px;
}
.chevron .footer .sections{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.chevron .footer .sections h4 {
    border-bottom: 1px solid #000;
}