/* {
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
  }
.container-16x9 {
  position: relative;
  padding-top: 56.25%;
}
video {
  width: 100%;
  position:absolute;
  top: 0;
}
//changes to
video {
  width: 100%;
  aspect-ratio: 16/9;
}
:root {
  --text-color: rgb(255, 0, 0);
}
p {
  --text-color: green;
  color:var(--text-color);
}

.drop {
  animation: dropIn 1s ease forwards;
  animation-delay: calc(var(--order) * 100ms);
}
@keyframes dropIn {
  from {transform: translateY(-500px);}
  to {transform: translateY(0);}
} */
/* <i class="drop" style="--order: 1">🍿<i>
<i class="drop" style="--order: 1">🌭<i>
<i class="drop" style="--order: 1">🚅<i> */

/* Numbered Headings */
/* :root {
  counter-reset: headingCount;
}
h1 {
  counter-increment: headingCount;
}
h1::before {
  content: counter(headings);
} */
/* Dropdown focus */
/* .dropdown {
  opacity: 0;
  visibility: hidden;
}
button:focus-within .dropdown {
  opacity: 1;
  visibility: visible;
} */

* { margin: 0; padding: 0;}
  
.dogblog canvas {
  border: 1px dashed #000000;
}

.dogblog a {
  color: #00f;
}
.dogblog button {
  background-color: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.dogblog .header h1 {
  font-size: clamp(3rem, 6vw, 4.3rem);
  padding-left: 2rem;
}
.dogblog .header {
  /* width: 100vw; */
  margin: 0 auto;
  max-width: 48rem;
  height: clamp(9rem, 18vw, 13rem);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
  overflow: hidden;
  background-color: #fff;
}

.dogblog .top-logo {
  display:flex;
  background-color: #282c34;
  border-radius: 20%;
  width: clamp(3.2rem, 7vw, 5rem);
  padding: 0.4rem;
}
.dogblog .top-logo img {
  border-radius: 20%;
  width: 100%;
}


.dogblog {
  margin: 1.5rem 0 0 0;
  padding: 0;
  font-family: "Open Sans";
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 3.75rem); */
  /* overflow-y: auto; */
  /* border: 2px dashed black; */
  background-color: #fff;
}
.main-middle-column {
  background-color: #282c34;
  margin: 0 auto;
  /* height: 100%; */
}

/* links */
.dogblog .navbar {
  display: flex;
  justify-content: center;
}
.dogblog .navbar .links {
  display: flex;
}

.middle-column {
  display: flex;
  /* max-width: 48rem; */
  /* background-color: #282c34; */
  height: 100%;
  flex-grow: 1;
  /* display: flex; */
  margin: 0 auto;
}
.row-grid-wrapper {
  display: flex;
  grid-template-columns: repeat(auto, minmax(32rem, 1fr));
  grid-template-rows: auto;
  column-gap: 1rem;
  /* background-color: #282c34; */
  flex-flow: wrap;
  max-width: 60rem;
  /* margin: 0 auto; */
  /* height: calc(100vh); */
  flex-grow: 1;
  overflow: hidden;
  /* border: 1px solid red; */
}

.dogblog .content {
  /* display: flex; */
  width: clamp(26.0rem, 34vw, 26rem);
  background-color: #fff;
  min-height: 60vh;
  flex-grow: 1;
  /* padding-bottom: 2em; */
}
.dogblog .sidebar {
  /* position: relative;
  top: 0;
  right: 0; */
  flex-grow: 1;
  /* width: clamp(10.0rem, 24vw, 16rem); */
  /* width: 100%; */
  background-color: #0055ff;
  background-color: #282c34;
  height: 100%;
  min-height: 100%;
}
.dogblog .sidebar p {
  color: white;
  text-decoration: 'none';
}
.dogblog .sidebar img {
  border-radius: 1rem;
  width: clamp(6.0rem, 24vw, 16rem);
  margin: 1.5em;
}


/* .dogblog .links h2 {
  padding: 10px;
  color: white;
  text-align: center;
}
.dogblog .links h2:hover {
  text-decoration: 'none';
  color: white;
  background-color: hsl(342, 87%, 58%);
  border-radius: 8px;
} */


.dogblog .blog-list img {
  width: 50px;
  height: 50px;
  
  border-radius: 50%;
}
.dogblog .friend-preview {
  background-color: #f2aac0;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #ff1717;
  border-radius: 20px;
  margin: 5px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.dogblog .header h1, .dogblog .navbar h1 {
  color: #f1356d;
}
.dogblog .header h2, .dogblog .navbar h2 {
  color: #383838;
}

.dogblog .link-button {
  display: flex;
  justify-content: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #000;
  margin-right: 0.3em;
  text-decoration: none;
  padding: 0.5em 1em 2em 1em;
}
.dogblog .link-button-inv-button button {
  background-color: #f1356d;
  color: #fff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-decoration: none;
  height: 4em;
  padding: 0.65em 1em 1.9em 1em;
}
.dogblog .link-button-inv {
  background-color: #f1356d;
  color: #fff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-decoration: none;
  height: 1.5em;
  padding: 0.65em 1em 1.9em 1em;
}
.dogblog .link-button-inv-button button:active {
  background-color: #f5739a;
}
.dogblog .link-button-inv:active {
  background-color: #f5739a;
}
.dogblog .link-button:hover {
  color: white;
  background-color: hsl(342, 87%, 58%);
  border-radius: 8px;
}
.dogblog .link-button:active {
  color: white;
  background-color: #f5739a;
  border-radius: 8px;
}

.row {
  display: flex;
  column-gap: 1em;
}




.image-404 {
  width: 256px;
  height: 256px;
  background-image: url("../assets/dogblog/dog-404-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* display: inline-block; */
}
.image-404:hover {
  background-image: url("../assets/dogblog/dog-404-2.png");
  background-repeat: no-repeat;
  background-size: contain;
}


@media only screen and (min-width: 650px)  {
    /* .dogblog .header {
      width: 80vw;
    } */
    .dogblog .sidebar {
      height: 100%;
      min-height: 100vh;
    } 
}
@media only screen and (min-width: 800px)   {
}

button.cancel {
  width: 2.0em;
  height: 2.0em;
  background-image: url("../assets/dogblog/cancel-cross.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
button.edit {
  width: 2.0em;
  height: 2.0em;
  background-image: url("../assets/dogblog/edit-pencil.svg");
  background-repeat: no-repeat;
  background-size: contain;
}


.dogblog .footer {
  /* position:fixed; */
  /* bottom: 0; */
  /* left: 0; */
  background-color: #282c34;
  color: white;
  height: 2em;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* .dogblog .footer-margin {
  height: 0.5rem;
} */

.dogblog .blog-list {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}



.dogblog .profile img {
  width: 200px;
  height: 200px;
}
.dogblog textarea {
  resize: vertical;
  min-width: 100%;
  min-height: 10em;
}

.dogblog .log-in-form {
  max-width: 400px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

/* create new blog form */
.dogblog .create {
  max-width: 400px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.dogblog .create form {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.dogblog .create h2 {
  margin-bottom: 10px;
}
.dogblog .create label {
  margin-left: 5px;
  font-weight: 800;
}
.dogblog .create input, .dogblog .create textarea, .dogblog .create select {
  width: auto;
  padding: 6px 10px;
  margin: 0px 0 20px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.dogblog .create textarea {
  height: 100px;
}
.dogblog .create select {
  font-size: 26px;
}
.dogblog .create p {
  text-align: start;
}

/* blog details page */
.dogblog .blog-details article {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.dogblog .blog-details h2 {
  margin-bottom: 10px;
}
.dogblog .blog-details div {
  margin: 20px 0;
}

/* blog-preview */
.dogblog .blog-preview {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #b6b6b6;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .dogblog .blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  .dogblog .blog-preview .leading h3 {
    font-size: 20px;
  }
  .dogblog .blog-preview .trailing {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .dogblog .blog-preview h3 {
    color: #f1356d;
  }




/* auth-form */
.dogblog .auth-form form {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.dogblog .auth-form h2 {
  margin-bottom: 10px;
}
.dogblog .auth-form label {
  margin-left: 5px;
  font-weight: 800;
}
.dogblog .auth-form input, .dogblog .auth-form textarea, .dogblog .auth-form select {
  width: auto;
  padding: 6px 10px;
  margin: 0px 0 20px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.dogblog .auth-form textarea {
  height: 100px;
}
.dogblog .auth-form select {
  font-size: 26px;
}
.dogblog .auth-form p {
  text-align: start;
}
.dogblog .auth-form switch {
  display: flex;
}
.dogblog .auth-form input {
  margin-right: 10px;
}
