@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* html {
  --navbar-font-height: 1.4rem;
  --navbar-padding: 0.8rem;
  --navbar-height: calc(var(--navbar-font-height) + var(--navbar-padding) * 2);
  --scroll-ref-offset: calc(var(--navbar-height) * -1);
} */
body[data-theme='light'] {
  --colors-primary: deeppink;
  --colors-background: white;
  --page-content-width: 800px;
}

.site-wrapper {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  color: #333;

  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
  "site-navbar"
  "wrapper";
}

.site-navbar {
  grid-area: site-navbar;
  position: fixed;
  z-index: 10;
  top: 0; left: 0;

  display: flex;
  align-items:flex-start;
  justify-content:space-between;
  width: 100%;
  padding: 0px 0 0px 0px;
  box-shadow: 0px 0px 3px 0.5px rgb(202, 202, 202);
  background-color: rgba(255, 255, 255, 0.95);
}

.site-navbar .link-button{
  padding: 0 2px 0 2px;
  border-right: 1px solid #b6b6b6;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.site-navbar .links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.site-navbar .links a {
  text-decoration: none;
}

.media-box {
  width: 60px;
  height: 23px;
  margin: 0 30px;
  background-color: burlywood;
}
@media only screen and (min-width: 650px)  {
  .media-box {
    background-color: #A7EE70;
  }
}
@media only screen and (min-width: 800px)   {
  .media-box {
    background-color: #70e6ee;
  }
}


.row-wrapper {
  display: flex;
}
.top-center {
  justify-content:center;
  align-content: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-color: #62B4FF;
  --light-color: #A7EE70;
}

svg {
  cursor: auto;
}

#darkGroup {
  fill: var(--dark-color);
}
#lightGroup {
  fill: var(--light-color);
}
#dark1,
#light1,
#dark2 {
  transition: all 1s ease;
}
#dark2 {
  transform: translateX(-100%);
}
svg:hover #light1 {
  transform: translateX(20%);
}
svg:hover #dark1 {
  transform: translateX(40%);
  opacity: 0;
}
svg:hover #dark2 {
  transform: translateX(0%);
}

